{% extends 'base.html' %}
{% block content %}
{{ block.super }}


    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 100%;height:400px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '每天车辆统计'
            },
            tooltip: {},
            legend: {
                data:['车辆数']
            },
            xAxis: {
                data: {{ x_data }}
            },
            yAxis: {},
            series: [{
                name: '车辆数',
                type: 'bar',
                data: {{ y_data }}
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>

{% endblock %}

